footer {
  max-width: 980px;
  margin: 20px auto 0;
  padding: 0 4%;

  .user-code {
    background-color: transparent;
    padding: 0.5rem;
    margin-bottom: 20px;
    color: grey;
    border: solid 1px grey;
    cursor: pointer;
  }
  .copyright {
    font-size: 11px;
    padding-bottom: 1rem;
    color: grey;
  }
}
